body {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Kurale";
  src: url("../fonts/Kurale-Regular.ttf");
  font-style: normal;
  font-weight: normal; }

.main {
  background-color: #f6f6f6;
  background-image: url("../img/grey back.png");
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: "Kurale"; }

.main__header {
  font-size: 48px;
  background-image: url("../img/illustration.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  font-size: 34px;
  padding: 40px;
  margin: 0;
  text-transform: uppercase; }
  @media (max-width: 659px) {
    .main__header {
      font-size: 33px; } }

.main__orders {
  width: 960px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .main__orders {
      width: 736px; } }
  @media (max-width: 767px) {
    .main__orders {
      width: 640px;
      text-align: center; } }
  @media (max-width: 659px) {
    .main__orders {
      width: 290px; } }

.main__sort {
  font-family: "Tahoma";
  font-size: 18px;
  margin-bottom: 40px;
  margin-top: 0; }
  .main__sort span {
    color: #ff5e42;
    border-bottom: 1px dashed #ff5e42;
    cursor: pointer; }
  @media (max-width: 659px) {
    .main__sort {
      font-size: 15px; } }

.container {
  text-align: center;
  width: 960px;
  margin: 0 auto; }
  @media (max-width: 1023px) {
    .container {
      width: 736px; } }
  @media (max-width: 767px) {
    .container {
      width: 640px; } }
  @media (max-width: 659px) {
    .container {
      width: 290px; } }

.order-card {
  background-color: white;
  display: inline-block;
  height: 430px;
  width: 220px;
  padding: 7px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 8px 9px -10px black;
          box-shadow: inset 0px 8px 9px -10px black;
  vertical-align: middle;
  position: relative;
  margin-bottom: 42px;
  margin-right: 30px; }
  .order-card:nth-child(4n) {
    margin-right: 0; }
  @media (max-width: 1200px) {
    .order-card {
      margin-right: 20px; }
      .order-card:nth-child(4n) {
        margin-right: 20px; }
      .order-card:nth-child(3n) {
        margin-right: 0; } }
  @media (max-width: 767px) {
    .order-card:nth-child(3n) {
      margin-right: 20px; }
    .order-card:nth-child(2n) {
      margin-right: 0; } }
  @media (max-width: 659px) {
    .order-card:nth-child(1n) {
      margin-right: 0; } }

.order-card:hover {
  border: 4px solid #ff5e42;
  padding: 3px; }

.order-card:hover .order-card__finished {
  display: none; }

.order-card:hover .order-card__add {
  display: block; }

.order-card__header {
  font-size: 19px;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px; }

.order-card__wrapper {
  padding-left: 15px;
  padding-right: 15px; }

.order-card__discription,
.order-card__status {
  font-family: Tahoma;
  font-size: 13px;
  line-height: 20px;
  margin-top: 0; }

.order-card__discription {
  padding: 0;
  margin: 0; }

.order-card__finished {
  color: #b8b8b8; }

.order-card__add {
  display: none; }

.order-card__finished,
.order-card__add {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  bottom: 0; }

.button {
  background-color: transparent;
  border: none;
  font-family: "Kurale";
  color: #ff5e42;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  margin-bottom: 16px;
  font-weight: bold; }

.button--move-up {
  font-size: 36px;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    .button--move-up {
      font-size: 24px; } }
  @media (max-width: 659px) {
    .button--move-up {
      font-size: 18px; } }

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Kurale";
  text-transform: uppercase;
  color: white;
  background-color: #333333;
  background-image: url("../img/Dark Gray back.png");
  position: relative; }
  .footer::after {
    display: block;
    content: "";
    clear: both; }

.footer::before {
  display: block;
  width: 100%;
  content: "";
  height: 2px;
  background-image: url("../img/wave.png");
  top: -2px;
  position: absolute; }

.footer .container {
  text-align: left; }
  @media (max-width: 1200px) {
    .footer .container {
      width: 736px;
      padding-left: 16px;
      padding-right: 16px; } }
  @media (max-width: 767px) {
    .footer .container {
      width: 610px; } }
  @media (max-width: 660px) {
    .footer .container {
      width: 270px; } }

.footer__email {
  display: block;
  float: left;
  padding-top: 7px; }
  @media (max-width: 767px) {
    .footer__email {
      float: none; } }

.footer__form--wrapper {
  float: left;
  padding-left: 20px; }
  @media (max-width: 767px) {
    .footer__form--wrapper {
      float: none;
      padding-left: 0; } }

.footer__form--wrapper * {
  display: block; }

.footer input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: "Kurale";
  font-weight: bold;
  margin-bottom: 20px; }

.footer input[type="checkbox"] {
  display: none; }

.footer input[type="checkbox"]:checked + .footer__pseudocheckbox::after {
  display: block; }

.footer__pseudocheckbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: 3px solid #d7d7d7;
  vertical-align: middle;
  margin-right: 10px;
  position: relative; }

.footer__pseudocheckbox::after {
  display: none;
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url("../img/check.png");
  top: 5px;
  left: 5px; }

.footer__subscribe {
  display: inline-block;
  vertical-align: middle; }

.footer__button {
  margin-top: 20px;
  padding: 0;
  font-size: 28px; }
  @media (max-width: 659px) {
    .footer__button {
      font-size: 18px; } }

.bookmark::after {
  display: block;
  width: 35px;
  height: 55px;
  background-image: url("../img/flag.png");
  content: "";
  position: absolute;
  top: 0;
  right: 15px; }

.bookmark:hover::after {
  right: 11px;
  top: -4px; }

.sort-icon--up, .sort-icon--down {
  position: relative; }

.sort-icon--up::after, .sort-icon--down::after {
  content: '';
  position: relative;
  right: -5px;
  top: -17px;
  border: 7px solid transparent;
  border-bottom: 14px solid #ff5e42; }

.sort-icon--down::after {
  border: 7px solid transparent;
  border-top: 14px solid #ff5e42;
  top: 21px; }
