@font-face {
    font-family: "Kurale";
    src: url("../fonts/Kurale-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

// @font-face {
//     font-family: "PrototypsterMedium";
//     src: url('../fonts/PrototypsterMedium.svg'), 
//         url('../fonts/PrototypsterMedium.woff'),
//         url('../fonts/PrototypsterMedium.ttf'),
//         url('../fonts/PrototypsterMedium.eot'),
//         url('../fonts/PrototypsterMedium.otf');
//     font-style: normal;
//     font-weight: normal;
// }

// @font-face {
//     font-family: 'prototypster-medium-webfont';
//     src: url('../fonts/prototypster-medium-webfont.svg'),
//     url('../fonts/prototypster-medium-webfont.woff'),
//     url('../fonts/prototypster-medium-webfont.ttf'),
//     url('../fonts/prototypster-medium-webfont.eot');
// }