.sort-icon--up {
    position: relative;
}

.sort-icon--up::after {
    content: '';
    position: relative;
    right: -5px;
    top: -17px;
    border: 7px solid transparent;
    border-bottom: 14px solid #ff5e42;
    @media (max-width: 659px) {
        border-width: 5px;
        border-bottom-width: 10px;
        top: -12px;
        margin-right: 5px;
    }
}

.sort-icon--down {
    @extend .sort-icon--up
}

.sort-icon--down::after {
    border: 7px solid transparent;
    border-top: 14px solid #ff5e42;
    top: 21px;
    @media (max-width: 659px) {
        border-width: 5px;
        border-top-width: 10px;
        top: 17px;
    }
}